@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header-cart {
  background-color: #fe5f1e;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 23px;
  gap: 15px;
  font-size: 16px;
  font-weight: 700;
}

.header-cart p:last-child {
  display: flex;
  align-items: center;
}

.header-cart-line {
  width: 1px;
  height: 25px;
  background-color: #ffffff40;
}

.header-form {
  background-color: #f2f2f2;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  width: 35vw;
  position: relative;
}

.header-form input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 17px;
}

.header-form button {
  background-color: #fe5f1e;
  border: none;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
}

.banner-parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.banner-inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.bn-1 img:first-child {
  width: 66%;
}

.bn-1 img:last-child {
  width: 33%;
}

.bn-2 img {
  width: 33%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hp-btns {
  display: flex;
  gap: 9px;
  margin-top: 65px;
}

.hp-btns button {
  border-radius: 30px;
  background-color: #f9f9f9;
  border: none;
  font-weight: 700;
  color: #2c2c2c;
  padding: 15px 30px;
  cursor: pointer;
}

.hp-h1 {
  font-size: 32px !important;
  font-weight: 700 !important;
  margin: 30px 0 !important;
}

/* ! card */
.card {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card > p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.card-select {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 7px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card-select-inner {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.card-select-inner button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  width: 50%;
  padding: 10px 20px;
  cursor: pointer;
}

.card-end {
  margin-top: 17px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-end p {
  font-size: 22px;
  font-weight: 700;
}

.card-end button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 30px;
  padding: 8px 10px;
  background-color: #fe5f1e;
  color: white;
  width: 45%;
}

.btn-active {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #0000006c;
}

.card img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.card-parent {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 60px;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  text-align: center;
}

.form h1 {
  margin-bottom: 20px;
}

.form form input {
  width: 300px;
  border-radius: 20px;
  border: none;
  background-color: lightgray;
  color: black;
  padding: 10px 10px;
}

.form button {
  padding: 15px 35px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fe5f1e;
  color: white;
  border: none;
  box-shadow: 0 2px 5px #00000056;
}
.form button:active {
  box-shadow: none;
}
